<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 <xacro:property name="traction_wheel_mechanical_reduction" value="1.0" />

<xacro:macro name="traction_wheel_transmission" params="prefix">
	<transmission name="${prefix}_traction_wheel_joint_trans">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="${prefix}_wheel_joint">
		<hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="${prefix}_traction_wheel_joint_motor">
		<hardwareInterface>hardware_interface/VelocityActuatorInterface</hardwareInterface>
		<mechanicalReduction>${traction_wheel_mechanical_reduction}</mechanicalReduction>
	  </actuator>
	 </transmission>
</xacro:macro>

</robot>
