<?xml version="1.0"?>
<robot name="rbsherpa_structure" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />
  <!-- TODO: Modify these values -->
  <xacro:property name="wheel_radius" value="0.125" /> 
  <xacro:property name="wheel_height" value="0.14" /> <!-- really is the wheel width -->
  <xacro:property name="wheel_mass" value="6.5" /> <!-- in kg-->
 
   <xacro:macro name="cylinder_inertia" params="m r h">
    <inertia  ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
              iyy="${m*r*r/2}" iyz = "0"
              izz="${m*(3*r*r+h*h)/12}" /> 
  </xacro:macro>
 
  <xacro:macro name="structure" params="prefix parent *origin">
  
	<!--fixed joint -->
    <joint name="${prefix}structure_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}structure_link"/>
      <xacro:insert_block name="origin" />      
    </joint>
  
    <link name="${prefix}structure_link">
      <visual>
        <!-- COLUMN -->
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>     

			 <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_column.dae" />
		
          </geometry>              
      </visual>      
      <collision>
		<origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
			<mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_column.stl" />
        </geometry>
      </collision>    
      <inertial>
        <mass value="${wheel_mass}" />
        <origin xyz="0 0 0" />
        <cylinder_inertia  m="${wheel_mass}" r="${wheel_radius}" h="${wheel_height}" />
      </inertial>
    </link>
    
    <!--GIRO: fixed joint -->
    <joint name="${prefix}platform_joint" type="fixed">
      <parent link="${prefix}structure_link"/>
      <origin xyz="-0.01 -0.01 0" rpy="0 0 0" />
      <child link="${prefix}platform_link"/>
      <xacro:insert_block name="origin" />      
    </joint>
  
    <link name="${prefix}platform_link">
      <visual>        
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>     
			 <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_tt_giro.dae" />		
          </geometry>            
      </visual>
      
      <collision>
		<origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
			<mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_tt_giro.stl" />
        </geometry>
      </collision>    
      <inertial>
        <mass value="${wheel_mass}" />
        <origin xyz="0 0 0" />
        <cylinder_inertia  m="${wheel_mass}" r="${wheel_radius}" h="${wheel_height}" />
      </inertial>
    </link>
    
    
  </xacro:macro>

</robot>
 
