<?xml version="1.0"?>
<robot name="rbsherpa_structure" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="structure" params="prefix parent *origin">

	<!--fixed joint -->
    <joint name="${prefix}structure_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}structure_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}structure_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
		      <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_column.dae" />
        </geometry>
      </visual>

      <collision>
		    <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
			    <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_column.stl" />
        </geometry>
      </collision>

      <inertial>
        <mass value="14.92765" />
        <origin xyz="-0.0195 -0.01 -0.750" />
        <inertia  ixx="2.80754349924" ixy = "0" ixz = "0"
                  iyy="2.80407121984" iyz = "0"
                  izz="0.01374410335" />
      </inertial>

    </link>

    <!--GIRO: fixed joint -->
    <joint name="${prefix}platform_joint" type="fixed">
      <parent link="${prefix}structure_link"/>
      <origin xyz="-0.01 -0.01 0" rpy="0 0 0" />
      <child link="${prefix}platform_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}platform_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
		      <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_tt_giro.dae" />
        </geometry>
      </visual>

      <collision>
		    <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
			    <mesh filename="package://rbsherpa_hl_description/meshes/structure/rbsherpa_hl_tt_giro.stl" />
        </geometry>
      </collision>

      <inertial>
        <mass value="4.64491" />
        <origin xyz="0 0 0.004" />
        <inertia  ixx="0.13451516929" ixy = "0" ixz = "0"
                  iyy="0.00865201773" iyz = "0"
                  izz="0.14311764130" />
      </inertial>

    </link>

  </xacro:macro>

</robot>
