<?xml version="1.0"?>
<robot name="rbsherpa_hl" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RBSHERPA base elements -->
    <xacro:include filename="$(find rbsherpa_hl_description)/urdf/bases/rbsherpa_hl_base.urdf.xacro" /> <!-- v3 name from engineering department -->
	
	<!-- Import RBSHERPA wheels -->
	<xacro:include filename="$(find rbsherpa_hl_description)/urdf/wheels/rubber_wheel.urdf.xacro" />	

    <xacro:arg name="prefix" default="rbsherpa_hl_"/>
	<!-- Import all available sensors -->
	<!--xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" /-->
  
    <!-- Import Gazebo Stuff -->
    <!--xacro:include filename="$(find rbsherpa_xl_description)/urdf/common.gazebo.xacro" /-->
  
  
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->  
	<xacro:property name="PI" value="3.1415926535897931"/>
  
	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.7115" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.36" />    
	<xacro:property name="wheel_offset_z" value="0.48265" />
		

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->

	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

	<!-- RBSherpa base -->
	<xacro:rbsherpa_hl_base prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />
  
	<!-- Gazebo ros control pluggins -->
	<!--xacro:ros_control/-->
	
	<!--xacro:gazebo_colors prefix="$(arg prefix)"/-->
	
	<!-- WHEELS -->
	<xacro:rubber_wheel prefix="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
		<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel prefix="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
		<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
	
	<xacro:rubber_wheel prefix="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
		<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
  
	<xacro:rubber_wheel prefix="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
		<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
	</xacro:rubber_wheel>
    
	<!-- SENSORS -->    
    
	<!--xacro:sensor_hokuyo_ust10lx prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser">
		<origin xyz="0.223 0.0 0.159" rpy="0 3.1416 3.1416"/>
	</xacro:sensor_hokuyo_ust10lx>   
    
	<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
		<origin xyz="0.002 0.053 0.1485" rpy="0 0 0"/>
	</xacro:sensor_imu_hector>
    
    <xacro:sensor_orbbec_astra prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">        
        <origin xyz="0.234 0.0125 0.107" rpy="0 0 0"/>
    </xacro:sensor_orbbec_astra-->  
      
</robot>
